<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunqi.securityking">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:name=".SecurityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name_cn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.NotifySettingActivity">
            <intent-filter>
                <action android:name="security.sunqi.normalfunction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.NotificationBoxActivity">
            <intent-filter>
                <action android:name="security.sunqi.normalfunction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.KeepForegroundActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:process=":backup"
            android:screenOrientation="portrait"/>

        <service android:name=".service.NotificationMoniter"
            android:process=":backup"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:authorities="app.security.sunqi"
            android:permission="com.example.sunqi.securityking.getnotifyapp"
            android:name=".dataprovider.MyContentProvider"
            android:exported="true"
            android:process=":backup">
        </provider>

        <provider
            android:authorities="notify.security.sunqi"
            android:permission="com.example.sunqi.securityking.getnotifydata"
            android:name=".dataprovider.NotifyDataContentProvider"
            android:exported="true"
            android:process=":backup">
        </provider>
    </application>
</manifest>